<!-- This is a div that shows a message to the user, it is shown whent the user selects the format Picker-->
<div id='picker-pointer' hidden>
   Choosing 'Picker' as the format changes some things, Firstly you will need to change the format of the URL.<br/>
   This should be a path that includes some variables, theses include:<br/>
   <b>Start date (start) ;</b> The start of the dataset, formatted 'yyyy-mm-dd'.<br/>
   <b>End Date (end) ;</b> The end of the dataset., formatted 'yyyy-mm-dd'.<br/>
   <b>Path (path) ;</b> This is the unique part of the dataset URL with dates replaced with 'yyyy', 'mm', 'dd', and 'hh'. you can also add '&lt;model_name&gt;' or '&lt;standard_name&gt;' if required.<br/>
   <b>Domain (domain) ;</b> The domain of the dataset.<br/>
   <b>Standard Name(s) (standard_names) ;</b> (Optional) The standard names that can be added to the URL (where you put '&lt;standard_names&gt;' in the path) seperated by commas.<br/>
   <b>Here is an Example:</b><br/>
   start=1979-01-01&end=2014-12-01&standard_names=Rainf,Snowf,PSurf,Qair,LWdown,SWdown,Tair,Wind&path=ecmwf/met_forcing_erai/yyyy/&lt;standard_name&gt;_ERAI_yyyymm.nc&domain=https://wci.earth2observe.eu/thredds/
</div>
