{% trans %}
<div class='module-content resource-picker'>
   <div>
      <h1 class="page-heading">Resource Picker</h1>
   </div>
   <div id='start_times' class="date_div">
      <b>Start Date</b>
      <div>
         <div class='year_select_div date_control' id='start_year_select_div' style="display: none;">
            Year:
            <br/>
            <select class="year_select" id='start_year_select'></select>
         </div>
         <div class='month_select_div date_control' id='start_month_select_div' style="display: none;">
            Month:
            <br/>
            <select class="month_select" id='start_month_select'></select>
         </div>
         <div class='day_select_div date_control' id='start_day_select_div' style="display: none;">
            Day:
            <br/>
            <select class="day_select" id='start_day_select'></select>
         </div>
         <div class='hour_select_div date_control' id='start_hour_select_div' style="display: none;">
            Hour:
            <br/>
            <select class="hour_select" id='start_hour_select'>
               <option value="0">00:00</option>
               <option value="3">03:00</option>
               <option value="6">06:00</option>
               <option value="9">09:00</option>
               <option value="12">12:00</option>
               <option value="15">15:00</option>
               <option value="18">18:00</option>
               <option value="21">21:00</option>
            </select>
         </div>
      </div>
   </div>
   <div id='end_times' class="date_div">
      <b>End Date</b>
      <div>
         <div class='year_select_div date_control' id='end_year_select_div' style="display: none;">
            Year:
            <br/>
            <select class="year_select" id='end_year_select'></select>
         </div>
         <div class='month_select_div date_control' id='end_month_select_div' style="display: none;">
            Month:
            <br/>
            <select class="month_select" id='end_month_select'></select>
         </div>
         <div class='day_select_div date_control' id='end_day_select_div' style="display: none;">
            Day:
            <br/>
            <select class="day_select" id='end_day_select'></select>
         </div>
         <div class='hour_select_div date_control' id='end_hour_select_div' style="display: none;">
            Hour:
            <br/>
            <select class="hour_select" id='end_hour_select'>
               <option value="0">00:00</option>
               <option value="3">03:00</option>
               <option value="6">06:00</option>
               <option value="9">09:00</option>
               <option value="12">12:00</option>
               <option value="15">15:00</option>
               <option value="18">18:00</option>
               <option value="21">21:00</option>
            </select>
         </div>
      </div>
   </div>
   <br/>
   <b>Format</b>
   <div id='format_select_div'>
      <select id="format_select">
         <option value='wcs'>WCS</option>
         <option value='wms'>WMS</option>
         <option value='opendap'>OPENDAP</option>
      </select>
   </div>
   <div id='standard_name_select_div' style="display: none;">
      <b>Standard Name</b>
   </br>
      <select id="standard_name_select"></select>
   </div>
   <br/>
   <button id='submit' type='button' class='btn btn-primary'>View URL list</button>
   <button id='save' type='button' class='btn btn-primary'>Download URL list</button>
   <p id="error"></p>
   <p id="hyperlinks"></p>
</div>


{% endtrans %}
